/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Dobble implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * dobble.css
 *
 * Dobble stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML symbols you define in your
    HTML template (dobble_dobble.tpl), and to HTML symbols you create dynamically
    (in dobble.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an symbol has a class
        (dojo.hasClass) or to get all symbols with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 2220%%x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
#opponents_wrapper
{ 
    display: inline-flex;
    flex-wrap: wrap;
}

.stockitem_selected {
	/*border: 4px solid #876998 ! important;
    /border-radius: 50%;*/
    border: none !important;
    filter: sepia(90%);
}

.stockitem {
	border: 1px solid black;
    border-radius: 50%;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);  
}

.stockitem_unselectable{
    cursor: none;
}

.dbl_cards_count_wrapper{
    color: #876998;
    font-size: x-large;
    font-weight: bold;
}

.dbl_counter_prefix{
    margin-right:-6px;
}

.minigame5 #pattern_pile{
    display: grid;
    grid-gap: 10px;
   /* grid-template-columns: repeat(3, 1fr);
     grid-auto-rows: 120%;
     grid-gap: 10px;*/
   /* grid-template-rows: fit-content(33%);*/

    /*
      --height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: var(--height);
    place-self: center;
    width: 0;
    padding-right: var(--height);*/
 /*   --height: minmax(200px, auto);
    width: calc(100vh); 
    grid-gap: 10px;
   grid-auto-columns: 33vh;*/
    /*grid-auto-rows: 33vh;*/

  
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
  }
  
  .grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  .grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

.card {
  min-width: 220px;
    --width: min(32vh,100%);
    /*--width: 100%;*/
    width: var(--width);
    /*height: var(--width);*/
    padding-top: var(--width);
    border: 1px solid black;
    /*margin: auto; centers*/
    border-radius: 50%;
    position: relative;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);  
}

@media only screen and (max-width: 1100px) {

}

.symbol {
    position: absolute;
    background-image: url('./img/cards/symbols.png');
    background-size: 1000%;
    cursor: pointer;
  }

  .symbol.symbol-00{
    background-position: 0 0;
  }
  .symbol.symbol-01{
    background-position: 11.11% 0;
  }
  .symbol.symbol-02{
    background-position: 22.22% 0;
  }
  .symbol.symbol-03{
    background-position: 33.33% 0;
  }
  .symbol.symbol-04{
    background-position: 44.44% 0;
  }
  .symbol.symbol-05{
    background-position: 55.55% 0;
  }
  .symbol.symbol-06{
    background-position: 66.66% 0;
  }
  .symbol.symbol-07{
    background-position: 77.77% 0;
  }
  .symbol.symbol-08{
    background-position: 88.88% 0%;
  }
  .symbol.symbol-09{
    background-position: 99.99% 0%;
  }

  .symbol.symbol-10{
    background-position: 0% 20%;
  }
  .symbol.symbol-11{
    background-position: 11.11% 20%;
  }
  .symbol.symbol-12{
    background-position: 22.22% 20%;
  }
  .symbol.symbol-13{
    background-position: 33.33% 20%;
  }
  .symbol.symbol-14{
    background-position: 44.44% 20%;
  }
  .symbol.symbol-15{
    background-position: 55.55% 20%;
  }
  .symbol.symbol-16{
    background-position: 66.66% 20%;
  }
  .symbol.symbol-17{
    background-position: 77.77% 20%;
  }
  .symbol.symbol-18{
    background-position: 88.88% 20%;
  }
  .symbol.symbol-19{
    background-position: 99.99% 20%;
  }

  .symbol.symbol-20{
    background-position: 0% 40%;
  }
  .symbol.symbol-21{
    background-position: 11.11% 40%;
    clip-path: polygon(42% 9%, 55% 10%, 63% 29%, 76% 50%, 81% 67%, 73% 94%, 50% 95%, 36% 91%, 20% 76%, 18% 56%, 28% 41%, 39% 30%, 46% 9%);
  }
  .symbol.symbol-22{
    background-position: 22.22% 40%;
  }
  .symbol.symbol-23{
    background-position: 33.33% 40%;
  }
  .symbol.symbol-24{
    background-position: 44.44% 40%;
  }
  .symbol.symbol-25{
    background-position: 55.55% 40%;
  }
  .symbol.symbol-26{
    background-position: 66.66% 40%;
  }
  .symbol.symbol-27{
    background-position: 77.77% 40%;
  }
  .symbol.symbol-28{
    background-position: 88.88% 40%;
  }
  .symbol.symbol-29{
    background-position: 99.99% 40%;
  }

  .symbol.symbol-30{
    background-position: 0% 60%;
  }
  .symbol.symbol-31{
    background-position: 11.11% 60%;
  }
  .symbol.symbol-32{
    background-position: 22.22% 60%;
  }
  .symbol.symbol-33{
    background-position: 33.33% 60%;
  }
  .symbol.symbol-34{
    background-position: 44.44% 60%;
  }
  .symbol.symbol-35{
    background-position: 55.55% 60%;
  }
  .symbol.symbol-36{
    background-position: 66.66% 60%;
  }
  .symbol.symbol-37{
    background-position: 77.77% 60%;
  }
  .symbol.symbol-38{
    background-position: 88.88% 60%;
  }
  .symbol.symbol-39{
    background-position: 99.99% 60%;
  }

  .symbol.symbol-40{
    background-position: 0% 80%;
  }
  .symbol.symbol-41{
    background-position: 11.11% 80%;
    clip-path: polygon(12% 10%, 29% 6%, 78% 70%, 83% 100%, 51% 83%, 6% 19%, 13% 10%);
  }
  .symbol.symbol-42{
    background-position: 22.22% 80%;
  }
  .symbol.symbol-43{
    background-position: 33.33% 80%;
  }
  .symbol.symbol-44{
    background-position: 44.44% 80%;
  }
  .symbol.symbol-45{
    background-position: 55.55% 80%;
  }
  .symbol.symbol-46{
    background-position: 66.66% 80%;
  }
  .symbol.symbol-47{
    background-position: 77.77% 80%;
  }
  .symbol.symbol-48{
    background-position: 88.88% 80%;
  }
  .symbol.symbol-49{
    background-position: 99.99% 80%;
  }

  .symbol.symbol-50{
    background-position: 0% 100%;
  }
  .symbol.symbol-51{
    background-position: 11.11% 100%;
  }
  .symbol.symbol-52{
    background-position: 22.22% 100%;
  }
  .symbol.symbol-53{
    background-position: 33.33% 100%;
  }
  .symbol.symbol-54{
    background-position: 44.44% 100%;
  }
  .symbol.symbol-55{
    background-position: 55.55% 100%;
  }
  .symbol.symbol-56{
    background-position: 66.66% 100%;
  }
  .symbol.symbol-57{
    background-position: 77.77% 100%;
}
/*yellow f7d639 and violet 876998



