/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Dobble implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * dobble.css
 *
 * Dobble stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML symbols you define in your
    HTML template (dobble_dobble.tpl), and to HTML symbols you create dynamically
    (in dobble.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an symbol has a class
        (dojo.hasClass) or to get all symbols with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 2220%%x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
html{
  background: url('img/fond.jpg');
}
#opponents_wrapper
{ 
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 5px;
    width: 100%;
}

.stockitem_selected {
	/*border: 4px solid #876998 ! important;
    /border-radius: 50%;*/
    border: none !important;
    filter: sepia(90%);
}

.stockitem {
	border: 1px solid black;
    border-radius: 50%;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);  
}

.stockitem_unselectable{
    cursor: none;
}

.dbl_cards_count_wrapper{
    color: #876998;
    font-size: x-large;
    font-weight: bold;
}

.dbl_counter_prefix{
    margin-right:-6px;
}

.card_size{
  /*min-width: 220px;*/
  --width: min(100vmin,33vh);
  /*--width: 100%;*/
  width: var(--width);
  /*height: var(--width);*/
  padding-top: var(--width);
}

.minigame5 .card_size{
  /*min-width: 220px;*/
  --width: 23vmin;
  /*--width: 100%;*/
  width: var(--width);
  /*height: var(--width);*/
  padding-top: var(--width);
}

.minigame5 #pattern_pile{
    display: grid;
    grid-gap: 5px;
    max-width: 100vmin;
   /* grid-template-columns: repeat(3, 1fr);
     grid-auto-rows: 120%;
     grid-gap: 10px;*/

   /* grid-template-rows: fit-content(33%);*/

    /*
      --height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: var(--height);
    place-self: center;
    width: 0;
    padding-right: var(--height);*/
 /*   --height: minmax(200px, auto);
    width: calc(100vh); 
    grid-gap: 10px;
   grid-auto-columns: 33vh;*/
    /*grid-auto-rows: 33vh;*/

    grid-template-columns: repeat(auto-fit,  23vmin );
  /*marche presque*/
   /* grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));/*repeat(auto-fill, minmax(16em, 3fr))*/
    /*grid-auto-rows: 1fr;*/
  }
  
  .grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  .grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .minigame3 .card_size{
    --width: 22vmin;
    width: var(--width);
    padding-top: var(--width);
  }

  .minigame4 .card_size{
    --width: 22vmin;
    width: var(--width);
    padding-top: var(--width);
  }

.card {
    border: 1px solid black;
    /*margin: auto; centers*/
    border-radius: 50%;
    position: relative;
    background-color: white;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);  
}

@media only screen and (min-width: 1100px) {
  .minigame5 #pattern_pile{
    display: grid;
    grid-template-columns: repeat(auto-fit,  25vmin );
    max-width: 100vmin;
  }

  .minigame3 .card_size{
    --width: 25vmin;
    width: var(--width);
    padding-top: var(--width);
  }
}


.symbol {
    position: absolute;
    background-image: url('./img/cards/symbols.png');
    background-size: 1000%;
    cursor: pointer;
  }

  .symbol.symbol-00{
    background-position: 0 0;
  }
  .symbol.symbol-01{
    background-position: 11.11% 0;
  }
  .symbol.symbol-02{
    background-position: 22.22% 0;
  }
  .symbol.symbol-03{
    background-position: 33.33% 0;
  }
  .symbol.symbol-04{
    background-position: 44.44% 0;
  }
  .symbol.symbol-05{
    background-position: 55.55% 0;
  }
  .symbol.symbol-06{
    background-position: 66.66% 0;
  }
  .symbol.symbol-07{
    background-position: 77.77% 0;
  }
  .symbol.symbol-08{
    background-position: 88.88% 0%;
  }
  .symbol.symbol-09{
    background-position: 99.99% 0%;
  }

  .symbol.symbol-10{
    background-position: 0% 20%;
  }
  .symbol.symbol-11{
    background-position: 11.11% 20%;
  }
  .symbol.symbol-12{
    background-position: 22.22% 20%;
  }
  .symbol.symbol-13{
    background-position: 33.33% 20%;
  }
  .symbol.symbol-14{
    background-position: 44.44% 20%;
  }
  .symbol.symbol-15{
    background-position: 55.55% 20%;
  }
  .symbol.symbol-16{
    background-position: 66.66% 20%;
  }
  .symbol.symbol-17{
    background-position: 77.77% 20%;
  }
  .symbol.symbol-18{
    background-position: 88.88% 20%;
  }
  .symbol.symbol-19{
    background-position: 99.99% 20%;
  }

.symbol {
    position: absolute;
    background-image: url('./img/cards/symbols.png');
    background-size: 1000%;
    cursor: pointer;
  }

  .symbol.symbol-00{
    background-position: 0 0;
    clip-path: polygon(29% 27%, 36% 9%, 54% 5%, 70% 26%, 86% 75%, 63% 96%, 34% 96%, 6% 69%, 13% 54%);
  }
  .symbol.symbol-01{
    background-position: 11.11% 0;
    clip-path: circle(41% at 51% 53%);
  }
  .symbol.symbol-02{
    background-position: 22.22% 0;
    clip-path: polygon(11% 83%, 30% 97%, 50% 92%, 73% 41%, 69% 3%, 32% 25%);
  }
  .symbol.symbol-03{
    background-position: 33.33% 0;
    clip-path: polygon(72% 6%, 90% 30%, 90% 47%, 100% 52%, 85% 69%, 53% 85%, 40% 96%, 18% 81%, 0 51%, 8% 16%, 60% 21%);
  }
  .symbol.symbol-04{
    background-position: 44.44% 0;
    clip-path: polygon(65% 99%, 32% 92%, 23% 61%, 24% 38%, 21% 14%, 42% 3%, 58% 22%, 69% 42%, 86% 68%);
  }
  .symbol.symbol-05{
    background-position: 55.55% 0;
    clip-path: polygon(43% 98%, 27% 84%, 24% 57%, 18% 25%, 44% 6%, 75% 23%, 68% 59%, 59% 86%);
  }
  .symbol.symbol-06{
    background-position: 66.66% 0;
    clip-path: polygon(61% 99%, 30% 100%, 31% 79%, 14% 69%, 14% 42%, 31% 24%, 47% 7%, 61% 21%, 78% 35%, 77% 53%, 64% 62%);
  }
  .symbol.symbol-07{
    background-position: 77.77% 0;
    clip-path: polygon(5% 89%, 47% 100%, 85% 88%, 71% 73%, 67% 27%, 50% 3%, 23% 20%, 25% 42%, 23% 72%);
  }
  .symbol.symbol-08{
    background-position: 88.88% 0%;
    clip-path: polygon(62% 91%, 41% 96%, 23% 84%, 33% 38%, 37% 21%, 42% 4%, 63% 23%, 58% 41%, 67% 49%);
  }
  .symbol.symbol-09{
    background-position: 99.99% 0%;
    clip-path: polygon(93% 89%, 4% 89%, 4% 43%, 24% 14%, 76% 14%, 94% 44%);
  }

  .symbol.symbol-10{
    background-position: 0% 20%;
    clip-path: polygon(44% 100%, 35% 49%, 14% 43%, 24% 24%, 24% 5%, 49% 9%, 72% 9%, 74% 29%, 58% 42%, 64% 56%, 57% 93%);
  }
  .symbol.symbol-11{
    background-position: 11.11% 20%;
    clip-path: polygon(19% 7%, 43% 21%, 57% 20%, 75% 3%, 91% 52%, 92% 76%, 72% 95%, 42% 95%, 38% 70%, 15% 70%);
  }
  .symbol.symbol-12{
    background-position: 22.22% 20%;
    clip-path: polygon(38% 96%, 0% 61%, 52% 11%, 93% 37%, 99% 57%, 87% 79%);
  }
  .symbol.symbol-13{
    background-position: 33.33% 20%;
    clip-path: circle(41.5% at 47% 50%);
  }
  .symbol.symbol-14{
    background-position: 44.44% 20%;
    clip-path: polygon(33% 89%, 38% 74%, 13% 58%, 24% 7%, 82% 8%, 86% 37%, 87% 66%, 59% 74%, 51% 98%);
  }
  .symbol.symbol-15{
    background-position: 55.55% 20%;
    clip-path: polygon(53% 97%, 22% 90%, 2% 65%, 45% 3%, 73% 35%, 93% 60%, 76% 87%);
  }
  .symbol.symbol-16{
    background-position: 66.66% 20%;
    clip-path: polygon(91% 97%, 49% 91%, 12% 90%, 21% 73%, 26% 56%, 10% 42%, 9% 9%, 30% 1%, 47% 21%, 72% 39%, 87% 64%);
  }
  .symbol.symbol-17{
    background-position: 77.77% 20%;
    clip-path: polygon(70% 96%, 28% 98%, 19% 57%, 3% 34%, 38% 0, 81% 14%, 71% 45%, 92% 49%, 92% 71%, 73% 77%);
  }
  .symbol.symbol-18{
    background-position: 88.88% 20%;
    clip-path: polygon(12% 74%, 0% 56%, 15% 25%, 50% 4%, 81% 21%, 96% 52%, 94% 73%, 85% 87%, 65% 94%, 30% 91%, 32% 74%);
  }
  .symbol.symbol-19{
    background-position: 99.99% 20%;
    clip-path: polygon(63% 97%, 57% 78%, 39% 66%, 49% 54%, 28% 35%, 8% 36%, 14% 4%, 51% 15%, 78% 20%, 84% 48%, 83% 83%, 76% 98%);
  }

  .symbol.symbol-20{
    background-position: 0% 40%;
    clip-path: polygon(67% 66%, 58% 93%, 35% 100%, 17% 83%, 21% 65%, 6% 70%, 7% 27%, 40% 5%, 61% 2%, 66% 10%, 83% 24%, 90% 49%);
  }
  .symbol.symbol-21{
    background-position: 11.11% 40%;
    clip-path: polygon(49% 96%, 20% 81%, 18% 53%, 37% 31%, 52% 6%, 66% 31%, 80% 54%, 76% 84%);
  }
  .symbol.symbol-22{
    background-position: 22.22% 40%;
    clip-path: polygon(31% 4%, 76% 7%, 65% 64%, 66% 92%, 39% 97%, 20% 83%, 27% 61%);
  }
  .symbol.symbol-23{
    background-position: 33.33% 40%;
    clip-path: polygon(0 62%, 20% 77%, 46% 82%, 75% 76%, 100% 60%, 90% 41%, 59% 25%, 23% 32%, 6% 42%);
  }
  .symbol.symbol-24{
    background-position: 44.44% 40%;
    clip-path: circle(43.2% at 50% 54%);
  }
  .symbol.symbol-25{
    background-position: 55.55% 40%;
    clip-path: circle(41.8% at 49% 52%);
  }
  .symbol.symbol-26{
    background-position: 66.66% 40%;
    clip-path: polygon(23% 68%, 27% 31%, 40% 3%, 67% 7%, 64% 21%, 72% 68%, 78% 97%, 41% 92%);
  }
  .symbol.symbol-27{
    background-position: 77.77% 40%;
    clip-path: polygon(40% 95%, 38% 33%, 24% 30%, 23% 6%, 61% 7%, 64% 14%, 75% 18%, 76% 32%, 58% 34%, 58% 95%);
  }
  .symbol.symbol-28{
    background-position: 88.88% 40%;
    clip-path: polygon(37% 98%, 63% 85%, 91% 59%, 100% 26%, 89% 12%, 70% 8%, 53% 16%, 30% 10%, 10% 22%, 7% 45%, 17% 62%, 32% 75%);
  }
  .symbol.symbol-29{
    background-position: 99.99% 40%;
    clip-path: polygon(96% 58%, 77% 81%, 29% 85%, 3% 71%, 2% 55%, 15% 50%, 19% 27%, 40% 18%, 73% 22%, 76% 44%);
  }

  .symbol.symbol-30{
    background-position: 0% 60%;
    clip-path: polygon(41% 82%, 25% 87%, 0% 75%, 5% 57%, 18% 49%, 35% 23%, 60% 15%, 87% 26%, 98% 63%, 85% 76%, 64% 84%);
  }
  .symbol.symbol-31{
    background-position: 11.11% 60%;
    clip-path: polygon(52% 95%, 30% 86%, 34% 48%, 21% 38%, 30% 12%, 57% 6%, 81% 24%, 79% 42%, 68% 58%, 71% 80%);
  }
  .symbol.symbol-32{
    background-position: 22.22% 60%;
    clip-path: polygon(76% 93%, 33% 92%, 42% 67%, 35% 55%, 17% 55%, 13% 40%, 36% 22%, 50% 5%, 76% 45%, 72% 69%);
  }
  .symbol.symbol-33{
    background-position: 33.33% 60%;
    clip-path: polygon(30% 96%, 9% 82%, 54% 35%, 52% 15%, 68% 7%, 89% 15%, 96% 36%, 89% 47%, 68% 49%, 48% 67%, 54% 76%);
  }
  .symbol.symbol-34{
    background-position: 44.44% 60%;
    clip-path: polygon(47% 100%, 23% 91%, 11% 68%, 20% 42%, 28% 21%, 30% 8%, 43% 13%, 53% 13%, 67% 7%, 67% 21%, 76% 41%, 84% 68%, 73% 91%);
  }
  .symbol.symbol-35{
    background-position: 55.55% 60%;
    clip-path: polygon(36% 99%, 41% 62%, 25% 61%, 44% 5%, 52% 37%, 77% 38%);
  }
  .symbol.symbol-36{
    background-position: 66.66% 60%;
    clip-path: polygon(74% 95%, 20% 96%, 25% 83%, 27% 65%, 18% 53%, 34% 30%, 35% 15%, 49% 5%, 65% 17%, 62% 30%, 75% 56%, 66% 65%, 69% 82%);
  }
  .symbol.symbol-37{
    background-position: 77.77% 60%;
    clip-path: polygon(16% 96%, 6% 84%, 20% 69%, 5% 57%, 12% 46%, 8% 11%, 33% 2%, 56% 15%, 68% 6%, 90% 12%, 98% 36%, 93% 52%, 100% 70%, 95% 93%, 58% 93%, 47% 98%, 34% 82%);
  }
  .symbol.symbol-38{
    background-position: 88.88% 60%;
    clip-path: polygon(80% 81%, 58% 92%, 30% 85%, 14% 67%, 13% 39%, 23% 20%, 43% 9%, 68% 12%, 60% 28%, 52% 42%, 53% 57%, 65% 70%);
  }
  .symbol.symbol-39{
    background-position: 99.99% 60%;
    clip-path: polygon(99% 50%, 85% 60%, 70% 69%, 51% 73%, 31% 70%, 15% 61%, 2% 51%, 14% 41%, 33% 28%, 66% 28%);
  }

  .symbol.symbol-40{
    background-position: 0% 80%;
    clip-path: polygon(55% 88%, 10% 74%, 7% 55%, 62% 13%, 95% 28%, 89% 54%);
  }
  .symbol.symbol-41{
    background-position: 11.11% 80%;
    clip-path: polygon(12% 10%, 29% 6%, 78% 70%, 83% 100%, 51% 83%, 6% 19%, 13% 10%);
  }
  .symbol.symbol-42{
    background-position: 22.22% 80%;
    clip-path: polygon(69% 100%, 49% 68%, 20% 97%, 15% 74%, 37% 45%, 17% 18%, 32% 1%, 55% 26%, 69% 9%, 88% 11%, 86% 38%, 65% 46%, 81% 87%);
  }
  .symbol.symbol-43{
    background-position: 33.33% 80%;
    clip-path: polygon(91% 70%, 62% 87%, 24% 93%, 6% 84%, 0 41%, 17% 36%, 32% 20%, 74% 15%, 91% 34%, 97% 53%);
  }
  .symbol.symbol-44{
    background-position: 44.44% 80%;
    clip-path: polygon(49% 6%, 91% 29%, 89% 75%, 49% 97%, 8% 74%, 8% 29%);
  }
  .symbol.symbol-45{
    background-position: 55.55% 80%;
    clip-path: polygon(46% 100%, 19% 90%, 18% 0%, 34% 0%, 37% 20%, 56% 9%, 75% 28%, 74% 45%, 88% 68%, 75% 94%);
  }
  .symbol.symbol-46{
    background-position: 66.66% 80%;
    clip-path: circle(42.8% at 50% 52%)
  }
  .symbol.symbol-47{
    background-position: 77.77% 80%;
    clip-path: polygon(92% 91%, 66% 96%, 52% 78%, 36% 87%, 14% 78%, 6% 40%, 15% 25%, 41% 33%, 46% 7%, 69% 11%, 64% 40%, 71% 51%, 89% 51%, 98% 71%);
  }
  .symbol.symbol-48{
    background-position: 88.88% 80%;
    clip-path: polygon(64% 97%, 52% 86%, 33% 78%, 10% 79%, 23% 61%, 5% 44%, 23% 32%, 32% 16%, 48% 16%, 65% 6%, 75% 20%, 93% 27%, 90% 60%, 93% 76%, 76% 81%);
  }
  .symbol.symbol-49{
    background-position: 99.99% 80%;
    clip-path: polygon(4% 64%, 42% 35%, 81% 12%, 90% 23%, 94% 42%, 87% 55%, 72% 62%, 56% 57%, 56% 71%, 48% 83%, 28% 89%);
  }

  .symbol.symbol-50{
    background-position: 0% 100%;
    clip-path: polygon(52% 98%, 33% 75%, 8% 53%, 35% 31%, 53% 10%, 73% 32%, 97% 54%, 74% 74%);
  }
  .symbol.symbol-51{
    background-position: 11.11% 100%;
    clip-path: polygon(50% 93%, 34% 83%, 37% 73%, 28% 54%, 37% 33%, 47% 7%, 60% 15%, 55% 43%, 66% 57%, 62% 80%);
  }
  .symbol.symbol-52{
    background-position: 22.22% 100%;
    clip-path: polygon(67% 85%, 42% 95%, 36% 84%, 40% 65%, 22% 62%, 10% 47%, 20% 19%, 44% 7%, 68% 15%, 83% 30%, 75% 54%, 58% 64%);
  }
  .symbol.symbol-53{
    background-position: 33.33% 100%;
    clip-path: polygon(83% 77%, 61% 72%, 36% 76%, 9% 59%, 17% 35%, 34% 39%, 59% 29%, 80% 37%, 89% 57%);
  }
  .symbol.symbol-54{
    background-position: 44.44% 100%;
    clip-path: polygon(52% 8%, 96% 40%, 80% 92%, 25% 92%, 8% 41%);
  }
  .symbol.symbol-55{
    background-position: 55.55% 100%;
    clip-path: circle(42.3% at 53% 48%);
  }
  .symbol.symbol-56{
    background-position: 66.66% 100%;
    clip-path: polygon(88% 91%, 63% 89%, 39% 96%, 37% 73%, 30% 58%, 2% 56%, 3% 33%, 23% 21%, 40% 6%, 64% 44%, 89% 48%, 98% 84%);
  }
  .symbol.symbol-57{
    background-position: 77.77% 100%;
}
/*yellow f7d639 and violet 876998*/

@keyframes shake-slow {
			20% { transform: translate(-30px); }
			40% { transform: translate(15px); }
			60% { transform: translate(-15px); }
			80% { transform: translate(8px); }
			100% { origin-transform: translate(0px); }
}

.shake {
  display: inherit;
  transform-origin: center center; 
  animation-name: shake-slow;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; 
}
